@import "tailwindcss";

@font-face {
  font-family: College;
  src: url(assets/fonts/CollegeBoy.otf)
}

@font-face {
  font-family: Aoboshi;
  src: url(assets/fonts/AoboshiOne.ttf)
}

@font-face {
  font-family: Alegreya;
  src: url(assets/fonts/Alegreya-VariableFont_wght.ttf);
}

@font-face {
  font-family: AlegreyaItalic;
  src: url(assets/fonts/Alegreya-Italic-VariableFont_wght.ttf);
}

/* inika-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/inika-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inika-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/inika-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background-color: #0a0a0a;
}

.tomenetShadow {
  filter: drop-shadow(0px 0px 30px rgb(0 0 0 / 1));
}

.menuItem {
  font-family: Aoboshi;
}

h1 {
  font-family: Alegreya;
  font-weight: 800;
  font-size: 64px;
  color: orange;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.514));
}

h2 {
  font-family: Aoboshi;
  font-weight: bold;
}

p {
  font-family: Inika;
  font-size: 20px;
}